*~
.Rproj.user
.*.swp
.*.swo
.svn*
*.aux
*.ind
*.bbl
*._latexmk
*.toc
*.ilg
*.log
.DS_Store
vignettes/*/*_cache/*
vignettes/*/*_files/*
figure/
TeachingStatsWithR/cache
TeachingStatsWithR/figures
TeachingStatsWithR/Chap-*.R
RBuildIgnore/sandbox/randy/*
RBuildIgnore/sandbox/Nick/*
RBuildIgnore/sandbox/Vignettes/*/figure
RBuildIgnore/sandbox/Vignettes/*/figures
RBuildIgnore/sandbox/Vignettes/*/framed.sty
RBuildIgnore/sandbox/Vignettes/*/*.tex
RBuildIgnore/sandbox/Vignettes/*/*.gz
RBuildIgnore/sandbox/Vignettes/*/*.idx
RBuildIgnore/sandbox/Vignettes/*/cache/*
RBuildIgnore/sandbox/Vignettes/*/*.notes
RBuildIgnore/sandbox/Vignettes/*.R
RBuildIgnore/sandbox/Vignettes/*.html
RBuildIgnore/sandbox/Vignettes/*.md
RBuildIgnore/CheatSheets/
RBuildIgnore/builds/*gz
README.html
ExtraDocs/*R
ExtraDocs/*cache
ExtraDocs/*_files
*.Rcheck
data/*.csv.bz2
.Rd2dvi*
vignettes/*/*.tex
vignettes/Plotting/Figures/plt-explain*.pdf
vignettes/*_files/*
vignettes/*_figure/*
vignettes/*_cache/*
vignettes/*.tex
vignettes/*.synctex.gz
mosaic.Rproj
.httr-oauth
inst/doc
vignettes/*.R
vignettes/*.html
vignettes/*.md
vignettes/*.out
revdep/
