*~
.Rproj.user
.*.swp
.*.swo
.svn*
*.aux
*.ind
*.bbl
*._latexmk
*.toc
*.ilg
*.log
TeachingStatsWithR/cache
TeachingStatsWithR/figures
TeachingStatsWithR/Chap-*.R
sandbox/randy/*
sandbox/Nick/*
sandbox/Vignettes/*/figure
sandbox/Vignettes/*/figures
sandbox/Vignettes/*/framed.sty
sandbox/Vignettes/*/*.tex
sandbox/Vignettes/*/*.gz
sandbox/Vignettes/*/*.idx
sandbox/Vignettes/*/cache/*
sandbox/Vignettes/*/*.notes
builds/*gz
*.Rcheck
data/*.csv.bz2
.Rd2dvi*
vignettes/*/*.tex
vignettes/Plotting/Figures/plt-explain*.pdf
mosaic.Rproj
.httr-oauth
