export(.check_for_quant_input)
export(.fetchData.storage.helper)
export(adapt_seq)
export(antiD)
export(CIsim)
export(col.mosaic)
export(cross)
export(D)
export(deal)
export(deg2rad)
export(dfapply)
export(distPlot)
export(do)
export(dotPlot)
export(favstats)
export(findZeros)
export(ilogit)
export(interval)
export(ladd)
export(logit)
export(nflip)
export(panel.xqqmath)
export(perctable)
export(rand)
export(resample)
export(rflip)
export(SD)
export(shuffle)
export(statTally)
export(surround)
export(theme.mosaic)
export(xchisq.test)
export(xhistogram)
export(xpnorm)
export(xqqmath)
exportClasses(repeater)
exportMethods(binom.test)
exportMethods(count)
exportMethods(mean)
exportMethods(median)
exportMethods(prop.test)
exportMethods(prop)
exportMethods(sd)
exportMethods(var)
exportPattern("^[^\\.]")
importFrom(utils,head)
importFrom(utils,modifyList)
S3method(print,cointoss)
