Chap-CalculusForStats.tex
Chap-Core.tex
Chap-FrontMatter.tex
Chap-GettingStarted.tex
Chap-Handouts.tex
Chap-Internet.tex
Chap-MoreR.tex
Chap-Multivariate.tex
Chap-RIntro.tex
Chap-SimulationBased.tex
Master-TeachingStatsWithR.fdb_latexmk
Master-TeachingStatsWithR.notes
Master-TeachingStatsWithR.pdf
Master-TeachingStatsWithR.tex
Rindex.idx
ddd.rda
mainIndex.idx
